<nav class="navbar navbar-expand navbar-dark colob">
  <div class="container justify-content-center marig">
    <img
      src="../../assets/img/nissan.png"
      class="img-fluid mx-2"
      alt="Imagen 1"
    />
    <img
      src="../../assets/img/mercedes.png"
      class="img-fluid mx-2 navbarr"
      alt="Imagen 2"
    />
    <img
      src="../../assets/img/audi.png"
      class="img-fluid mx-2"
      alt="Imagen 3"
    />
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <span class="justify-content-end margs">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="">Ingresar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contenido">Parqueados</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/filtro">Histórico</a>
      </li>
     
    </ul>
  </span>
</nav>
