.navbar {
    height: 100px;
}

.navbar img {
    height: 80px;
}

.navbarr {
    height: 106px  !important;
}
.colob {
    background-color: black;
}
.marig{
    margin-left: 16%;
}
.margs{
    margin-right: 3%;
}